<table class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>github</th>
        <th>facebook</th>
        <th>linkedIn</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(contactId, contact) in abCtrl.contacts">
        <td>{{contact.name}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.github}}</td>
        <td>{{contact.facebook}}</td>
        <td>{{contact.linkedIn}}</td>
        <td><button ng-click="abCtrl.deleteContact(contactId)">x</button></td>
      </tr>
    </tbody>
  </table>
